/target/
/annotations-2.0.2.jar
/antlr-2.7.7.jar
/antlr-3.4.jar
/antlr-runtime-3.4.jar
/aopalliance-1.0.jar
/asm-5.0.3.jar
/avro-1.7.6.jar
/avro-ipc-1.7.6-tests.jar
/avro-ipc-1.7.6.jar
/avro-mapred-1.7.6.jar
/base64-2.3.8.jar
/bval-core-0.5.jar
/bval-jsr303-0.5.jar
/cglib-nodep-2.2.2.jar
/commons-beanutils-1.7.0.jar
/commons-beanutils-core-1.8.0.jar
/commons-cli-1.2.jar
/commons-compress-1.4.1.jar
/commons-configuration-1.6.jar
/commons-dbcp-1.4.jar
/commons-digester-1.8.jar
/commons-io-2.1.jar
/commons-lang3-3.4.jar
/commons-lang-2.6.jar
/commons-pool-1.5.4.jar
/conf
/configuration-0.91.jar
/cxf-api-2.5.2.jar
/cxf-common-utilities-2.5.2.jar
/cxf-rt-bindings-xml-2.5.2.jar
/cxf-rt-core-2.5.2.jar
/cxf-rt-frontend-jaxrs-2.5.2.jar
/cxf-rt-transports-common-2.5.2.jar
/cxf-rt-transports-http-2.5.2.jar
/datanucleus-connectionpool-2.0.3.jar
/datanucleus-core-2.0.3.jar
/datanucleus-rdbms-2.0.3.jar
/derby-10.4.2.0.jar
/fastutil-6.5.4.jar
/geronimo-javamail_1.4_spec-1.7.1.jar
/giraph-core-1.2.0-hadoop2-tests.jar
/giraph-core-1.2.0-hadoop2.jar
/gora-core-0.5.jar
/guava-18.0.jar
/guice-3.0.jar
/guice-multibindings-3.0.jar
/hcatalog-core-0.5.0-incubating.jar
/hive-builtins-0.10.0.jar
/hive-cli-0.10.0.jar
/hive-exec-0.11.0.jar
/hive-metastore-0.11.0.jar
/hive-pdk-0.10.0.jar
/hive-service-0.10.0.jar
/httpclient-4.1.2.jar
/httpcore-4.1.2.jar
/jackson-annotations-2.1.4.jar
/jackson-core-asl-1.9.2.jar
/jackson-mapper-asl-1.9.2.jar
/JavaEWAH-0.3.2.jar
/javax.inject-1.jar
/javolution-5.5.1.jar
/jaxb-impl-2.2.4-1.jar
/jdo2-api-2.3-ec.jar
/jettison-1.1.jar
/jetty-6.1.26.jar
/jetty-util-6.1.26.jar
/jline-0.9.94.jar
/jmxutils-1.16.jar
/jol-core-0.1.jar
/json-20090211.jar
/jsr311-api-1.1.1.jar
/jta-1.1.jar
/jython-2.5.3.jar
/kryo-3.0.1.jar
/kryo-serializers-0.29.jar
/libfb303-0.9.0.jar
/libthrift-0.9.0.jar
/log4j-1.2.17.jar
/metrics-core-2.2.0.jar
/minlog-1.3.0.jar
/neethi-3.0.1.jar
/netty-3.6.2.Final.jar
/netty-all-4.0.14.Final.jar
/nifty-client-0.14.0.jar
/nifty-core-0.14.0.jar
/objenesis-2.1.jar
/paranamer-2.5.2.jar
/protobuf-java-2.5.0.jar
/reflectasm-1.10.1.jar
/servlet-api-2.5-20081211.jar
/simple-giraph-project-1.0-SNAPSHOT.jar
/slf4j-api-1.7.5.jar
/slf4j-log4j12-1.7.5.jar
/slice-0.5.jar
/snappy-java-1.0.5.jar
/spring-aop-3.0.6.RELEASE.jar
/spring-asm-3.0.6.RELEASE.jar
/spring-beans-3.0.6.RELEASE.jar
/spring-context-3.0.6.RELEASE.jar
/spring-core-3.0.6.RELEASE.jar
/spring-expression-3.0.6.RELEASE.jar
/spring-web-3.0.6.RELEASE.jar
/ST4-4.0.4.jar
/stats-0.91.jar
/stax2-api-3.1.1.jar
/stringtemplate-3.2.1.jar
/swift-annotations-0.14.0.jar
/swift-codec-0.14.0.jar
/swift-service-0.14.0.jar
/typetools-0.2.1.jar
/units-0.91.jar
/validation-api-1.1.0.Final.jar
/velocity-1.7.jar
/woodstox-core-asl-4.1.1.jar
/wsdl4j-1.6.2.jar
/xmlschema-core-2.0.1.jar
/xz-1.0.jar
/yjp-controller-api-redist-11.0.10.jar
/zookeeper-3.4.5.jar
